@media only screen and (max-width:1200px){
    header{
        height:65vh;
    }
    .row{
        margin:0 15px;
    }
}

@media only screen and (max-width:1024px){
    .mobile-menu span{
        display:block;
    }
    .hero-text-box{
        width:90%;
    }
    .main-nav{
        display:none;
    }
    
    html{
        font-size:57.56%;
    }
    .client-photo {
        width:100%;;
        float: none;
        text-align:center;
    }
    .client-review{
        width:100%;
        float: none;
       
    }
    .contact-section form{
        width: 100%;
        margin-left: 0;
    }
}
@media only screen and  (max-width:980px){
.span_1_of_4{
    width:49.2%;
    margin-left:0;
}
html{
    font-size: 62.5%;
}
}

@media only screen and (max-width:768px){
p{
    width:100%;
    margin-left:0;
} 

}

@media only screen and (max-width:480px){
   
    .span_1_of_4{
        width:100%;
        margin-left:0;
    }
    .testimonial .col:nth-child(3), .testimonial .col:nth-child(4){
        margin-top:2rem;
    }
}